In [1]:
# game setup
from setup import *
from agents import *
gameTypes, numBuyers, numSellers, numTokens, numRounds, numPeriods, numSteps, seed = '1000', 4, 4, 4, 1, 1, 16, 42
disclosure = ['rnd', 'period', 'step','currentBid','currentAsk','buy','sell','price','sale']
buyerStrategies = ['TruthTeller', 'ZeroIntelligence', 'ZeroIntelligence']
sellerStrategies = ['TruthTeller', 'ZeroIntelligence', 'ZeroIntelligence']
gameData = [gameTypes, numBuyers, numSellers, numTokens, numRounds, numPeriods, numSteps, seed]
buyers, sellers = generateAgents(gameData, buyerStrategies, sellerStrategies, disclosure)
log = Log(gameData, buyerStrategies, sellerStrategies, disclosure)

for rnd in range(numRounds):
    roundData = roundSetup(*gameData)
    buyerValues, sellerCosts, demand, supply, prices, peq, qeq = roundData[0:7]
    [buyerReservationPrices, sellerReservationPrices, buyerSurplus, sellerSurplus, totalSurplus, buyerSurplusFrac, sellerSurplusFrac] = roundData[7:]
    log.addRound([rnd] + roundData)
    resetRounds(buyers, sellers, buyerValues, sellerCosts)
    for period in range(numPeriods):
        resetPeriods(buyers, sellers)
        for step in range(numSteps):
            resetSteps(buyers, sellers)
            bids, asks = collectOffers(buyers, sellers)
            currentAsk, currentAskIdx, currentBid, currentBidIdx = bestOffers(bids, asks)
            price, buy, sell = trade(buyers, sellers, currentAsk, currentAskIdx, currentBid, currentBidIdx)
            bprofit, sprofit = 0, 0
            if price > 0:
                buyers[currentBidIdx].transact(price)
                sellers[currentAskIdx].transact(price)
                bprofit = buyers[currentBidIdx].stepProfits
                sprofit = sellers[currentAskIdx].stepProfits
            log.addStep([rnd, period, step, bids, asks, currentBid, currentBidIdx, currentAsk, currentAskIdx, buy, sell, price, price > 0, bprofit, sprofit])
            observe(buyers, sellers, log.disclose())

In [2]:
log.stepData

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
0,0,0,0,"[47.510905982617075, 59.2, 24.6]","[10.1, nan, 13.3]",59.200000,1,10.1,0.0,1.0,1.0,34.650000,True,65.350000,24.298326
1,0,0,1,"[47.510905982617075, 58.7, 83.5]","[7.5, nan, 15.5]",83.500000,2,7.5,0.0,1.0,1.0,45.500000,True,46.725636,33.796414
2,0,0,2,"[47.510905982617075, 11.1, 19.2]","[4.3, nan, 6.6]",47.510906,0,4.3,0.0,1.0,1.0,25.905453,True,21.605453,-4.483790
3,0,0,3,"[45.415260493268335, 27.9, 23.9]","[30.9, nan, 7.0]",45.415260,0,7.0,2.0,1.0,1.0,26.207630,True,19.207630,9.530606
4,0,0,4,"[22.479797460575185, 21.9, 40.8]","[8.3, nan, 23.3]",40.800000,2,8.3,0.0,1.0,1.0,24.550000,True,44.859253,-11.935583
5,0,0,5,"[22.479797460575185, 10.4, 52.6]","[nan, nan, 22.5]",52.600000,2,22.5,2.0,1.0,1.0,37.550000,True,15.654562,9.260392
6,0,0,6,"[22.479797460575185, 17.3, 3.2]","[nan, nan, 43.4]",22.479797,0,43.4,2.0,0.0,0.0,NaN,False,0.000000,0.000000
7,0,0,7,"[22.479797460575185, 45.7, 23.2]","[nan, nan, 41.3]",45.700000,1,41.3,2.0,1.0,0.0,41.300000,True,20.750648,-10.692476
8,0,0,8,"[22.479797460575185, 8.2, 13.0]","[nan, nan, 11.6]",22.479797,0,11.6,2.0,1.0,0.0,11.600000,True,10.879797,-45.225973
9,0,0,9,"[13.373097744520662, 43.4, 20.3]","[nan, nan, nan]",43.400000,1,NaN,NaN,NaN,NaN,NaN,False,0.000000,0.000000
10,0,0,10,"[13.373097744520662, 19.7, 4.8]","[nan, nan, nan]",19.700000,1,NaN,NaN,NaN,NaN,NaN,False,0.000000,0.000000
11,0,0,11,"[13.373097744520662, 18.8, 12.0]","[nan, nan, nan]",18.800000,1,NaN,NaN,NaN,NaN,NaN,False,0.000000,0.000000
12,0,0,12,"[13.373097744520662, 37.4, 20.7]","[nan, nan, nan]",37.400000,1,NaN,NaN,NaN,NaN,NaN,False,0.000000,0.000000
13,0,0,13,"[13.373097744520662, 44.4, 16.1]","[nan, nan, nan]",44.400000,1,NaN,NaN,NaN,NaN,NaN,False,0.000000,0.000000
14,0,0,14,"[13.373097744520662, 10.3, 22.7]","[nan, nan, nan]",22.700000,2,NaN,NaN,NaN,NaN,NaN,False,0.000000,0.000000
15,0,0,15,"[13.373097744520662, 38.8, 18.5]","[nan, nan, nan]",38.800000,1,NaN,NaN,NaN,NaN,NaN,False,0.000000,0.000000

In [5]:
env.log.stepData

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
0,0,0,0,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
1,0,0,1,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
2,0,0,2,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
3,0,0,3,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
4,0,0,4,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
5,0,0,5,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
6,0,0,6,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
7,0,0,7,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
8,0,0,8,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
9,0,0,9,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
10,0,0,10,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
11,0,0,11,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
12,0,0,12,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
13,0,0,13,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
14,0,0,14,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0
15,0,0,15,"[nan, nan, nan]","[nan, nan, nan]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,0

In [ ]:
env.buyers