In [1]:
# game setup
from setup import *
from agents import *
buyerStrategies = ['TruthTeller', 'TruthTeller', 'TruthTeller']
sellerStrategies = ['TruthTeller', 'TruthTeller', 'TruthTeller']
gameTypes, numBuyers, numSellers, numTokens, numRounds, numPeriods, numSteps, seed = '1001', len(buyerStrategies), len(sellerStrategies), 3, 1, 1, 16, 42
disclosure = ['rnd', 'period', 'step','currentBid','currentAsk','buy','sell','price','sale']
gameData = [gameTypes, numBuyers, numSellers, numTokens, numRounds, numPeriods, numSteps, seed]
buyers, sellers = generateAgents(gameData, buyerStrategies, sellerStrategies, disclosure)
log = Log(gameData, buyerStrategies, sellerStrategies, disclosure)

for rnd in range(numRounds):
    roundData = roundSetup(*gameData)
    buyerValues, sellerCosts, demand, supply, prices, peq, qeq = roundData[0:7]
    [buyerReservationPrices, sellerReservationPrices, buyerSurplus, sellerSurplus, totalSurplus, buyerSurplusFrac, sellerSurplusFrac] = roundData[7:]
    log.addRound([rnd] + roundData)
    print(log.roundData.buyerValues.item())

    resetRounds(buyers, sellers, buyerValues, sellerCosts)
    for period in range(numPeriods):
        resetPeriods(buyers, sellers)
        for step in range(numSteps):
            resetSteps(buyers, sellers)
            bids, asks = collectOffers(buyers, sellers)
            print(bids, asks)
            currentAsk, currentAskIdx, currentBid, currentBidIdx = bestOffers(bids, asks)
            price, buy, sell = trade(buyers, sellers, currentAsk, currentAskIdx, currentBid, currentBidIdx)
            bprofit, sprofit = 0, 0
            if price > 0:
                buyers[currentBidIdx].transact(price)
                sellers[currentAskIdx].transact(price)
                bprofit = buyers[currentBidIdx].stepProfits
                sprofit = sellers[currentAskIdx].stepProfits
            log.addStep([rnd, period, step, bids, asks, currentBid, currentBidIdx, currentAsk, currentAskIdx, buy, sell, price, price > 0, bprofit, sprofit])
            observe(buyers, sellers, log.disclose())

[[100.   60.   54.9]
 [ 63.   57.3  28.2]
 [ 81.5  39.1  24.8]]
[100.0, 63.0, 81.5] [13.5, 0.0, 16.5]
[60.0, 63.0, 81.5] [13.5, 30.7, 16.5]
[60.0, 63.0, 39.1] [31.4, 30.7, 16.5]
[60.0, 57.3, 39.1] [31.4, 30.7, 20.8]
[54.9, 57.3, 39.1] [31.4, 30.7, 38.9]
[54.9, 28.2, 39.1] [31.4, 45.2, 38.9]
[nan, 28.2, 39.1] [31.6, 45.2, 38.9]
[nan, 28.2, 24.8] [nan, 45.2, 38.9]
[nan, 28.2, 24.8] [nan, 45.2, 38.9]
[nan, 28.2, 24.8] [nan, 45.2, 38.9]
[nan, 28.2, 24.8] [nan, 45.2, 38.9]
[nan, 28.2, 24.8] [nan, 45.2, 38.9]
[nan, 28.2, 24.8] [nan, 45.2, 38.9]
[nan, 28.2, 24.8] [nan, 45.2, 38.9]
[nan, 28.2, 24.8] [nan, 45.2, 38.9]
[nan, 28.2, 24.8] [nan, 45.2, 38.9]

In [2]:
log.stepData

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
0,0,0,0,"[100.0, 63.0, 81.5]","[13.5, 0.0, 16.5]",100.0,0,0.0,1,True,True,50.00,True,50.00,50.00
1,0,0,1,"[60.0, 63.0, 81.5]","[13.5, 30.7, 16.5]",81.5,2,13.5,0,True,True,47.50,True,34.00,34.00
2,0,0,2,"[60.0, 63.0, 39.1]","[31.4, 30.7, 16.5]",63.0,1,16.5,2,True,True,39.75,True,23.25,23.25
3,0,0,3,"[60.0, 57.3, 39.1]","[31.4, 30.7, 20.8]",60.0,0,20.8,2,True,True,40.40,True,19.60,19.60
4,0,0,4,"[54.9, 57.3, 39.1]","[31.4, 30.7, 38.9]",57.3,1,30.7,1,True,True,44.00,True,13.30,13.30
5,0,0,5,"[54.9, 28.2, 39.1]","[31.4, 45.2, 38.9]",54.9,0,31.4,0,True,True,43.15,True,11.75,11.75
6,0,0,6,"[nan, 28.2, 39.1]","[31.6, 45.2, 38.9]",39.1,2,31.6,0,True,True,35.35,True,3.75,3.75
7,0,0,7,"[nan, 28.2, 24.8]","[nan, 45.2, 38.9]",28.2,1,38.9,2,False,False,NaN,False,0.00,0.00
8,0,0,8,"[nan, 28.2, 24.8]","[nan, 45.2, 38.9]",28.2,1,38.9,2,False,False,NaN,False,0.00,0.00
9,0,0,9,"[nan, 28.2, 24.8]","[nan, 45.2, 38.9]",28.2,1,38.9,2,False,False,NaN,False,0.00,0.00
10,0,0,10,"[nan, 28.2, 24.8]","[nan, 45.2, 38.9]",28.2,1,38.9,2,False,False,NaN,False,0.00,0.00
11,0,0,11,"[nan, 28.2, 24.8]","[nan, 45.2, 38.9]",28.2,1,38.9,2,False,False,NaN,False,0.00,0.00
12,0,0,12,"[nan, 28.2, 24.8]","[nan, 45.2, 38.9]",28.2,1,38.9,2,False,False,NaN,False,0.00,0.00
13,0,0,13,"[nan, 28.2, 24.8]","[nan, 45.2, 38.9]",28.2,1,38.9,2,False,False,NaN,False,0.00,0.00
14,0,0,14,"[nan, 28.2, 24.8]","[nan, 45.2, 38.9]",28.2,1,38.9,2,False,False,NaN,False,0.00,0.00
15,0,0,15,"[nan, 28.2, 24.8]","[nan, 45.2, 38.9]",28.2,1,38.9,2,False,False,NaN,False,0.00,0.00