In [40]:
#from setup import *
#from agents import *
#from env import *
gameTypes, numBuyers, numSellers, numTokens, numRounds, numPeriods, numSteps = '1001', 2, 6, 3, 1, 100, 9
disclosure = ['rnd', 'period', 'step','currentBid','currentAsk','buy','sell','price','sale']
buyerStrategies = ['PPO', 'TruthTeller']
sellerStrategies = ['TruthTeller', 'TruthTeller','TruthTeller', 'TruthTeller','TruthTeller', 'TruthTeller']
metaData = [gameTypes, numBuyers, numSellers, numTokens, numRounds, numPeriods, numSteps, disclosure, buyerStrategies, sellerStrategies]
gameData = metaData[0:7]
gameTypes, numBuyers, numSellers, numTokens, numRounds, numPeriods, numSteps = gameData
disclosure, buyerStrategies, sellerStrategies = metaData[7:]
buyers, sellers = generateAgents(gameData,buyerStrategies,sellerStrategies,disclosure)
log = Log(gameData, buyerStrategies, sellerStrategies, disclosure)

for rnd in range(numRounds):
    roundData = roundSetup(*gameData)
    redemptionValues, tokenCosts, demand, supply, prices, peq, qeq  = roundData[0:7]
    [buyerReservationPrices, sellerReservationPrices, buyerSurplus, sellerSurplus, totalSurplus, buyerSurplusFrac, sellerSurplusFrac] = roundData[7:]
    log.addRound([rnd] + roundData)
    resetRounds(buyers, sellers, redemptionValues, tokenCosts)
    for period in range(numPeriods):
        resetPeriods(buyers, sellers)
        for step in range(numSteps):
            resetSteps(buyers, sellers)
            bids, asks = collectOffers(buyers, sellers)
            currentAsk, currentAskIdx, currentBid, currentBidIdx = bestOffers(bids, asks)
            price, buy, sell = trade(buyers, sellers, currentAsk, currentAskIdx, currentBid, currentBidIdx)
            bprofit, sprofit = 0, 0
            if price > 0:
                buyers[currentBidIdx].transact(price)
                sellers[currentAskIdx].transact(price)
                bprofit = buyers[currentBidIdx].stepProfits
                sprofit = sellers[currentAskIdx].stepProfits
            log.addStep([rnd, period, step, bids, asks, currentBid, currentBidIdx, currentAsk, currentAskIdx, buy, sell, price, price>0, bprofit, sprofit])
            observe(buyers, sellers, log.disclose()) # observe new state
            updateStates(buyers, sellers)
        updatePolicy(buyers, sellers)
        
        if period % (numPeriods/numPeriods) == 0:
            print(f'\n{period}')
            display(log.getPeriod(rnd, period).tail(100)[['bprofit', 'currentBidIdx']].groupby('currentBidIdx').sum())
            display(log.getPeriod(rnd, period).tail(100)[['sprofit', 'currentAskIdx']].groupby('currentAskIdx').sum())
            display(log.getPeriod(rnd,period))

tensor([0.4714], grad_fn=<SigmoidBackward0>) tensor([0.2015], grad_fn=<MulBackward0>)
tensor([0.3091])
0.30911093950271606

tensor([0.9433], grad_fn=<SigmoidBackward0>) tensor([1.3978e-05], grad_fn=<MulBackward0>)
tensor([0.9433])
0.9433107376098633

tensor([0.9790], grad_fn=<SigmoidBackward0>) tensor([4.2085e-06], grad_fn=<MulBackward0>)
tensor([0.9790])
0.9790283441543579

tensor([0.9713], grad_fn=<SigmoidBackward0>) tensor([1.4357e-06], grad_fn=<MulBackward0>)
tensor([0.9713])
0.971271276473999


0

               bprofit
currentBidIdx
0.0             -25.65
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                90.15
4                89.80

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
0,0,0,0,"[65.5, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,1.0,1.0,50.00,True,50.00,50.00
1,0,0,1,"[97.2, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",97.2,0.0,7.9,2,1.0,1.0,52.55,True,6.75,44.65
2,0,0,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,1.0,1.0,53.50,True,-9.70,45.50
3,0,0,3,"[98.6, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.6,0.0,19.0,4,1.0,1.0,58.80,True,-22.70,39.80
4,0,0,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,1.0,1.0,46.40,True,26.50,26.50
5,0,0,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,1.0,1.0,42.55,True,19.25,19.25
6,0,0,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
7,0,0,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
8,0,0,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8513], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7997])
0.7996672987937927

tensor([0.9891], grad_fn=<SigmoidBackward0>) tensor([3.0621e-06], grad_fn=<MulBackward0>)
tensor([0.9891])
0.9890791177749634

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806203842163086

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739600419998169


1

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
9,0,1,0,"[90.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
10,0,1,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
11,0,1,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
12,0,1,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
13,0,1,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
14,0,1,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
15,0,1,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
16,0,1,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
17,0,1,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8924])
0.8923601508140564

tensor([0.9915], grad_fn=<SigmoidBackward0>) tensor([2.3924e-06], grad_fn=<MulBackward0>)
tensor([0.9915])
0.9915405511856079

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806894659996033

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740714430809021


2

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
18,0,2,0,"[94.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
19,0,2,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
20,0,2,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
21,0,2,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
22,0,2,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
23,0,2,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
24,0,2,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
25,0,2,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
26,0,2,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9107])
0.9107208251953125

tensor([0.9919], grad_fn=<SigmoidBackward0>) tensor([2.2670e-06], grad_fn=<MulBackward0>)
tensor([0.9920])
0.9919528961181641

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.980693519115448

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740726947784424


3

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
27,0,3,0,"[95.5, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
28,0,3,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
29,0,3,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
30,0,3,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
31,0,3,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
32,0,3,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
33,0,3,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
34,0,3,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
35,0,3,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8366])
0.8366000652313232

tensor([0.9901], grad_fn=<SigmoidBackward0>) tensor([2.8106e-06], grad_fn=<MulBackward0>)
tensor([0.9901])
0.9901109933853149

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806204438209534

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739599227905273


4

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
36,0,4,0,"[91.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
37,0,4,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
38,0,4,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
39,0,4,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
40,0,4,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
41,0,4,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
42,0,4,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
43,0,4,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
44,0,4,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8137])
0.8136703968048096

tensor([0.9895], grad_fn=<SigmoidBackward0>) tensor([2.9643e-06], grad_fn=<MulBackward0>)
tensor([0.9895])
0.9895126223564148

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806209802627563

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739592671394348


5

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
45,0,5,0,"[90.7, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
46,0,5,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
47,0,5,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
48,0,5,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
49,0,5,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
50,0,5,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
51,0,5,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
52,0,5,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
53,0,5,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8517])
0.8517110347747803

tensor([0.9905], grad_fn=<SigmoidBackward0>) tensor([2.7011e-06], grad_fn=<MulBackward0>)
tensor([0.9905])
0.9905141592025757

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806252717971802

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739599823951721


6

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
54,0,6,0,"[92.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
55,0,6,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
56,0,6,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
57,0,6,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
58,0,6,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
59,0,6,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
60,0,6,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
61,0,6,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
62,0,6,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9035])
0.9035047292709351

tensor([0.9918], grad_fn=<SigmoidBackward0>) tensor([2.3048e-06], grad_fn=<MulBackward0>)
tensor([0.9918])
0.9918299317359924

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806971549987793

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740731716156006


7

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
63,0,7,0,"[95.2, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
64,0,7,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
65,0,7,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
66,0,7,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
67,0,7,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
68,0,7,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
69,0,7,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
70,0,7,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
71,0,7,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8074])
0.8074363470077515

tensor([0.9893], grad_fn=<SigmoidBackward0>) tensor([3.0058e-06], grad_fn=<MulBackward0>)
tensor([0.9893])
0.9893220067024231

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806233048439026

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739611744880676


8

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
72,0,8,0,"[90.4, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
73,0,8,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
74,0,8,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
75,0,8,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
76,0,8,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
77,0,8,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
78,0,8,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
79,0,8,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
80,0,8,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9138])
0.9138035774230957

tensor([0.9920], grad_fn=<SigmoidBackward0>) tensor([2.2422e-06], grad_fn=<MulBackward0>)
tensor([0.9920])
0.9920321702957153

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806839823722839

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740696549415588


9

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
81,0,9,0,"[95.7, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
82,0,9,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
83,0,9,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
84,0,9,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
85,0,9,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
86,0,9,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
87,0,9,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
88,0,9,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
89,0,9,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8395])
0.8395401239395142

tensor([0.9902], grad_fn=<SigmoidBackward0>) tensor([2.7828e-06], grad_fn=<MulBackward0>)
tensor([0.9902])
0.9902104735374451

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806232452392578

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739603996276855


10

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
90,0,10,0,"[92.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
91,0,10,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
92,0,10,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
93,0,10,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
94,0,10,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
95,0,10,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
96,0,10,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
97,0,10,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
98,0,10,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([1.0357])
1.0

tensor([0.9901], grad_fn=<SigmoidBackward0>) tensor([2.6204e-06], grad_fn=<MulBackward0>)
tensor([0.9901])
0.9901456236839294

tensor([0.9411], grad_fn=<SigmoidBackward0>) tensor([1.6290e-06], grad_fn=<MulBackward0>)
tensor([0.9411])
0.9411218166351318

tensor([0.9604], grad_fn=<SigmoidBackward0>) tensor([1.6249e-06], grad_fn=<MulBackward0>)
tensor([0.9604])
0.9604472517967224


11

               bprofit
currentBidIdx
0.0             -21.85
1.0              91.80

               sprofit
currentAskIdx
0                19.25
1                26.50
2                90.60
4                89.50

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
99,0,11,0,"[100.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,0.0,0.0,4,True,True,50.00,True,9.30,50.00
100,0,11,1,"[99.5, 100.0]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",100.0,1.0,7.9,2,True,True,53.95,True,46.05,46.05
101,0,11,2,"[97.1, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",97.1,0.0,8.0,2,True,True,52.55,True,-8.75,44.55
102,0,11,3,"[98.0, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.0,0.0,19.0,4,True,True,58.50,True,-22.40,39.50
103,0,11,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
104,0,11,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
105,0,11,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
106,0,11,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
107,0,11,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8048], grad_fn=<SigmoidBackward0>) tensor([0.0518], grad_fn=<MulBackward0>)
tensor([0.7346])
0.7346479296684265

tensor([0.9869], grad_fn=<SigmoidBackward0>) tensor([3.5794e-06], grad_fn=<MulBackward0>)
tensor([0.9869])
0.9868636131286621

tensor([0.9805], grad_fn=<SigmoidBackward0>) tensor([3.1386e-06], grad_fn=<MulBackward0>)
tensor([0.9805])
0.9804911017417908

tensor([0.9737], grad_fn=<SigmoidBackward0>) tensor([1.5192e-06], grad_fn=<MulBackward0>)
tensor([0.9737])
0.9737353324890137


12

               bprofit
currentBidIdx
0.0             -26.75
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.20
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
108,0,12,0,"[86.7, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
109,0,12,1,"[99.3, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.3,0.0,7.9,2,True,True,53.60,True,5.70,45.70
110,0,12,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
111,0,12,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
112,0,12,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
113,0,12,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
114,0,12,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
115,0,12,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
116,0,12,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8631], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8803])
0.880318284034729

tensor([0.9912], grad_fn=<SigmoidBackward0>) tensor([2.4850e-06], grad_fn=<MulBackward0>)
tensor([0.9912])
0.9912369847297668

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806892275810242

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740699529647827


13

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
117,0,13,0,"[94.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
118,0,13,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
119,0,13,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
120,0,13,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
121,0,13,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
122,0,13,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
123,0,13,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
124,0,13,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
125,0,13,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8988])
0.8987501263618469

tensor([0.9917], grad_fn=<SigmoidBackward0>) tensor([2.3474e-06], grad_fn=<MulBackward0>)
tensor([0.9917])
0.9916924238204956

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806904196739197

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740720987319946


14

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
126,0,14,0,"[94.9, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
127,0,14,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
128,0,14,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
129,0,14,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
130,0,14,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
131,0,14,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
132,0,14,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
133,0,14,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
134,0,14,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8514])
0.8513901829719543

tensor([0.9905], grad_fn=<SigmoidBackward0>) tensor([2.7011e-06], grad_fn=<MulBackward0>)
tensor([0.9905])
0.9905090928077698

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806210994720459

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.973961591720581


15

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
135,0,15,0,"[92.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
136,0,15,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
137,0,15,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
138,0,15,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
139,0,15,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
140,0,15,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
141,0,15,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
142,0,15,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
143,0,15,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8140])
0.8139712810516357

tensor([0.9895], grad_fn=<SigmoidBackward0>) tensor([2.9643e-06], grad_fn=<MulBackward0>)
tensor([0.9895])
0.9895026683807373

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806229472160339

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739586114883423


16

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
144,0,16,0,"[90.7, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
145,0,16,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
146,0,16,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
147,0,16,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
148,0,16,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
149,0,16,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
150,0,16,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
151,0,16,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
152,0,16,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8774])
0.8773637413978577

tensor([0.9912], grad_fn=<SigmoidBackward0>) tensor([2.5007e-06], grad_fn=<MulBackward0>)
tensor([0.9912])
0.9911878108978271

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806936979293823

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740683436393738


17

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
153,0,17,0,"[93.9, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
154,0,17,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
155,0,17,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
156,0,17,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
157,0,17,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
158,0,17,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
159,0,17,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
160,0,17,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
161,0,17,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8599])
0.8598724603652954

tensor([0.9907], grad_fn=<SigmoidBackward0>) tensor([2.6473e-06], grad_fn=<MulBackward0>)
tensor([0.9907])
0.9907041192054749

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806269407272339

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739588499069214


18

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
162,0,18,0,"[93.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
163,0,18,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
164,0,18,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
165,0,18,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
166,0,18,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
167,0,18,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
168,0,18,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
169,0,18,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
170,0,18,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9048])
0.9048106670379639

tensor([0.9918], grad_fn=<SigmoidBackward0>) tensor([2.3048e-06], grad_fn=<MulBackward0>)
tensor([0.9918])
0.9918299913406372

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.980691134929657

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740718603134155


19

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
171,0,19,0,"[95.2, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
172,0,19,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
173,0,19,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
174,0,19,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
175,0,19,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
176,0,19,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
177,0,19,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
178,0,19,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
179,0,19,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8511])
0.8511027097702026

tensor([0.9905], grad_fn=<SigmoidBackward0>) tensor([2.7011e-06], grad_fn=<MulBackward0>)
tensor([0.9905])
0.9905080795288086

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806235432624817

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739601612091064


20

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
180,0,20,0,"[92.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
181,0,20,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
182,0,20,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
183,0,20,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
184,0,20,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
185,0,20,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
186,0,20,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
187,0,20,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
188,0,20,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8797])
0.8797356486320496

tensor([0.9912], grad_fn=<SigmoidBackward0>) tensor([2.4850e-06], grad_fn=<MulBackward0>)
tensor([0.9912])
0.9912416934967041

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806932210922241

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740720391273499


21

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
189,0,21,0,"[94.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
190,0,21,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
191,0,21,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
192,0,21,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
193,0,21,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
194,0,21,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
195,0,21,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
196,0,21,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
197,0,21,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7930])
0.7929514646530151

tensor([0.9888], grad_fn=<SigmoidBackward0>) tensor([3.1194e-06], grad_fn=<MulBackward0>)
tensor([0.9888])
0.9888256192207336

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0951e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.980556845664978

tensor([0.9738], grad_fn=<SigmoidBackward0>) tensor([1.5233e-06], grad_fn=<MulBackward0>)
tensor([0.9738])
0.9738491773605347


22

               bprofit
currentBidIdx
0.0             -26.80
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.25
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
198,0,22,0,"[89.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
199,0,22,1,"[99.4, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.4,0.0,7.9,2,True,True,53.65,True,5.65,45.75
200,0,22,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
201,0,22,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
202,0,22,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
203,0,22,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
204,0,22,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
205,0,22,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
206,0,22,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8638], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8985])
0.8985202312469482

tensor([0.9917], grad_fn=<SigmoidBackward0>) tensor([2.3474e-06], grad_fn=<MulBackward0>)
tensor([0.9917])
0.9916905164718628

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.980690062046051

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.974071204662323


23

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
207,0,23,0,"[94.9, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
208,0,23,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
209,0,23,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
210,0,23,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
211,0,23,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
212,0,23,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
213,0,23,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
214,0,23,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
215,0,23,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7996])
0.799619734287262

tensor([0.9891], grad_fn=<SigmoidBackward0>) tensor([3.0621e-06], grad_fn=<MulBackward0>)
tensor([0.9891])
0.9890804886817932

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.980623722076416

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739617109298706


24

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
216,0,24,0,"[90.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
217,0,24,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
218,0,24,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
219,0,24,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
220,0,24,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
221,0,24,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
222,0,24,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
223,0,24,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
224,0,24,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8128])
0.8128098249435425

tensor([0.9894], grad_fn=<SigmoidBackward0>) tensor([2.9780e-06], grad_fn=<MulBackward0>)
tensor([0.9894])
0.9894450902938843

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806323051452637

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.973957896232605


25

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
225,0,25,0,"[90.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
226,0,25,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
227,0,25,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
228,0,25,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
229,0,25,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
230,0,25,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
231,0,25,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
232,0,25,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
233,0,25,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8495])
0.8495416045188904

tensor([0.9905], grad_fn=<SigmoidBackward0>) tensor([2.7145e-06], grad_fn=<MulBackward0>)
tensor([0.9905])
0.9904651641845703

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806228280067444

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739601016044617


26

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
234,0,26,0,"[92.5, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
235,0,26,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
236,0,26,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
237,0,26,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
238,0,26,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
239,0,26,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
240,0,26,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
241,0,26,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
242,0,26,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8843])
0.884269654750824

tensor([0.9913], grad_fn=<SigmoidBackward0>) tensor([2.4537e-06], grad_fn=<MulBackward0>)
tensor([0.9913])
0.9913389086723328

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806883335113525

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740718603134155


27

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
243,0,27,0,"[94.2, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
244,0,27,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
245,0,27,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
246,0,27,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
247,0,27,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
248,0,27,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
249,0,27,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
250,0,27,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
251,0,27,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8697])
0.8696781396865845

tensor([0.9910], grad_fn=<SigmoidBackward0>) tensor([2.5648e-06], grad_fn=<MulBackward0>)
tensor([0.9910])
0.9909772872924805

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806247353553772

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739588499069214


28

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
252,0,28,0,"[93.5, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
253,0,28,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
254,0,28,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
255,0,28,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
256,0,28,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
257,0,28,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
258,0,28,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
259,0,28,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
260,0,28,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8955])
0.8955198526382446

tensor([0.9916], grad_fn=<SigmoidBackward0>) tensor([2.3623e-06], grad_fn=<MulBackward0>)
tensor([0.9916])
0.9916391372680664

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806931018829346

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740695357322693


29

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
261,0,29,0,"[94.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
262,0,29,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
263,0,29,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
264,0,29,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
265,0,29,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
266,0,29,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
267,0,29,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
268,0,29,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
269,0,29,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8167])
0.8166682720184326

tensor([0.9896], grad_fn=<SigmoidBackward0>) tensor([2.9506e-06], grad_fn=<MulBackward0>)
tensor([0.9896])
0.9895681142807007

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806275963783264

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739576578140259


30

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
270,0,30,0,"[90.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
271,0,30,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
272,0,30,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
273,0,30,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
274,0,30,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
275,0,30,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
276,0,30,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
277,0,30,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
278,0,30,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9079])
0.9078789949417114

tensor([0.9919], grad_fn=<SigmoidBackward0>) tensor([2.2795e-06], grad_fn=<MulBackward0>)
tensor([0.9919])
0.9919124841690063

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806851148605347

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740718603134155


31

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
279,0,31,0,"[95.4, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
280,0,31,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
281,0,31,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
282,0,31,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
283,0,31,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
284,0,31,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
285,0,31,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
286,0,31,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
287,0,31,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9278])
0.9278465509414673

tensor([0.9923], grad_fn=<SigmoidBackward0>) tensor([2.1574e-06], grad_fn=<MulBackward0>)
tensor([0.9923])
0.9922956824302673

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806879162788391

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740708470344543


32

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
288,0,32,0,"[96.4, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
289,0,32,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
290,0,32,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
291,0,32,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
292,0,32,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
293,0,32,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
294,0,32,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
295,0,32,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
296,0,32,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7699])
0.7698701024055481

tensor([0.9881], grad_fn=<SigmoidBackward0>) tensor([3.2827e-06], grad_fn=<MulBackward0>)
tensor([0.9881])
0.9881013035774231

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0951e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9805581569671631

tensor([0.9738], grad_fn=<SigmoidBackward0>) tensor([1.5233e-06], grad_fn=<MulBackward0>)
tensor([0.9739])
0.9738528728485107


33

               bprofit
currentBidIdx
0.0             -26.80
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.25
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
297,0,33,0,"[88.5, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
298,0,33,1,"[99.4, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.4,0.0,7.9,2,True,True,53.65,True,5.65,45.75
299,0,33,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
300,0,33,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
301,0,33,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
302,0,33,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
303,0,33,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
304,0,33,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
305,0,33,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8638], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8292])
0.8291853666305542

tensor([0.9900], grad_fn=<SigmoidBackward0>) tensor([2.8528e-06], grad_fn=<MulBackward0>)
tensor([0.9900])
0.98995441198349

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806212186813354

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739600419998169


34

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
306,0,34,0,"[91.5, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
307,0,34,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
308,0,34,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
309,0,34,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
310,0,34,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
311,0,34,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
312,0,34,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
313,0,34,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
314,0,34,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8877])
0.8876842856407166

tensor([0.9914], grad_fn=<SigmoidBackward0>) tensor([2.4228e-06], grad_fn=<MulBackward0>)
tensor([0.9914])
0.9914439916610718

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806945323944092

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740709066390991


35

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
315,0,35,0,"[94.4, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
316,0,35,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
317,0,35,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
318,0,35,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
319,0,35,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
320,0,35,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
321,0,35,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
322,0,35,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
323,0,35,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8074])
0.80743008852005

tensor([0.9893], grad_fn=<SigmoidBackward0>) tensor([3.0058e-06], grad_fn=<MulBackward0>)
tensor([0.9893])
0.9893265962600708

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806233644485474

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739620089530945


36

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
324,0,36,0,"[90.4, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
325,0,36,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
326,0,36,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
327,0,36,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
328,0,36,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
329,0,36,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
330,0,36,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
331,0,36,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
332,0,36,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9151])
0.9150855541229248

tensor([0.9921], grad_fn=<SigmoidBackward0>) tensor([2.2299e-06], grad_fn=<MulBackward0>)
tensor([0.9921])
0.9920650720596313

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806912541389465

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740701913833618


37

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
333,0,37,0,"[95.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
334,0,37,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
335,0,37,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
336,0,37,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
337,0,37,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
338,0,37,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
339,0,37,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
340,0,37,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
341,0,37,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8839])
0.8839215040206909

tensor([0.9913], grad_fn=<SigmoidBackward0>) tensor([2.4537e-06], grad_fn=<MulBackward0>)
tensor([0.9913])
0.991345226764679

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806972742080688

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740686416625977


38

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
342,0,38,0,"[94.2, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
343,0,38,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
344,0,38,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
345,0,38,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
346,0,38,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
347,0,38,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
348,0,38,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
349,0,38,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
350,0,38,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9365])
0.9365019798278809

tensor([0.9924], grad_fn=<SigmoidBackward0>) tensor([2.1104e-06], grad_fn=<MulBackward0>)
tensor([0.9924])
0.9924465417861938

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.980693519115448

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740711450576782


39

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
351,0,39,0,"[96.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
352,0,39,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
353,0,39,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
354,0,39,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
355,0,39,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
356,0,39,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
357,0,39,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
358,0,39,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
359,0,39,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8740])
0.8739955425262451

tensor([0.9911], grad_fn=<SigmoidBackward0>) tensor([2.5326e-06], grad_fn=<MulBackward0>)
tensor([0.9911])
0.9910814166069031

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806983470916748

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740705490112305


40

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
360,0,40,0,"[93.7, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
361,0,40,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
362,0,40,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
363,0,40,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
364,0,40,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
365,0,40,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
366,0,40,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
367,0,40,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
368,0,40,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8507])
0.8507173657417297

tensor([0.9905], grad_fn=<SigmoidBackward0>) tensor([2.7145e-06], grad_fn=<MulBackward0>)
tensor([0.9905])
0.9904611706733704

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806273579597473

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739595055580139


41

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
369,0,41,0,"[92.5, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
370,0,41,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
371,0,41,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
372,0,41,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
373,0,41,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
374,0,41,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
375,0,41,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
376,0,41,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
377,0,41,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9125])
0.9125498533248901

tensor([0.9920], grad_fn=<SigmoidBackward0>) tensor([2.2546e-06], grad_fn=<MulBackward0>)
tensor([0.9920])
0.9919896125793457

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806957244873047

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740737080574036


42

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
378,0,42,0,"[95.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
379,0,42,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
380,0,42,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
381,0,42,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
382,0,42,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
383,0,42,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
384,0,42,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
385,0,42,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
386,0,42,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7874])
0.787387490272522

tensor([0.9887], grad_fn=<SigmoidBackward0>) tensor([3.1485e-06], grad_fn=<MulBackward0>)
tensor([0.9887])
0.9887028932571411

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0951e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9805605411529541

tensor([0.9738], grad_fn=<SigmoidBackward0>) tensor([1.5233e-06], grad_fn=<MulBackward0>)
tensor([0.9738])
0.9738486409187317


43

               bprofit
currentBidIdx
0.0             -26.80
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.25
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
387,0,43,0,"[89.4, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
388,0,43,1,"[99.4, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.4,0.0,7.9,2,True,True,53.65,True,5.65,45.75
389,0,43,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
390,0,43,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
391,0,43,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
392,0,43,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
393,0,43,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
394,0,43,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
395,0,43,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8638], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8266])
0.8265800476074219

tensor([0.9898], grad_fn=<SigmoidBackward0>) tensor([2.8813e-06], grad_fn=<MulBackward0>)
tensor([0.9899])
0.9898505210876465

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806216955184937

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739629030227661


44

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
396,0,44,0,"[91.3, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
397,0,44,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
398,0,44,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
399,0,44,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
400,0,44,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
401,0,44,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
402,0,44,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
403,0,44,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
404,0,44,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9430])
0.9430054426193237

tensor([0.9926], grad_fn=<SigmoidBackward0>) tensor([2.0645e-06], grad_fn=<MulBackward0>)
tensor([0.9926])
0.9925937056541443

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.980689287185669

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740697145462036


45

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
405,0,45,0,"[97.2, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
406,0,45,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
407,0,45,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
408,0,45,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
409,0,45,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
410,0,45,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
411,0,45,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
412,0,45,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
413,0,45,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7873])
0.7873400449752808

tensor([0.9887], grad_fn=<SigmoidBackward0>) tensor([3.1485e-06], grad_fn=<MulBackward0>)
tensor([0.9887])
0.9886995553970337

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0951e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9805587530136108

tensor([0.9738], grad_fn=<SigmoidBackward0>) tensor([1.5233e-06], grad_fn=<MulBackward0>)
tensor([0.9739])
0.9738516211509705


46

               bprofit
currentBidIdx
0.0             -26.80
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.25
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
414,0,46,0,"[89.4, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
415,0,46,1,"[99.4, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.4,0.0,7.9,2,True,True,53.65,True,5.65,45.75
416,0,46,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
417,0,46,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
418,0,46,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
419,0,46,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
420,0,46,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
421,0,46,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
422,0,46,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8638], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9225])
0.9225022792816162

tensor([0.9922], grad_fn=<SigmoidBackward0>) tensor([2.1934e-06], grad_fn=<MulBackward0>)
tensor([0.9922])
0.9921852350234985

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806961417198181

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740713834762573


47

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
423,0,47,0,"[96.1, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
424,0,47,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
425,0,47,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
426,0,47,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
427,0,47,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
428,0,47,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
429,0,47,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
430,0,47,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
431,0,47,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9167])
0.916714072227478

tensor([0.9921], grad_fn=<SigmoidBackward0>) tensor([2.2299e-06], grad_fn=<MulBackward0>)
tensor([0.9921])
0.9920657277107239

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806936979293823

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740714430809021


48

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
432,0,48,0,"[95.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
433,0,48,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
434,0,48,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
435,0,48,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
436,0,48,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
437,0,48,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
438,0,48,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
439,0,48,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
440,0,48,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9472])
0.9471698999404907

tensor([0.9927], grad_fn=<SigmoidBackward0>) tensor([2.0419e-06], grad_fn=<MulBackward0>)
tensor([0.9927])
0.9926656484603882

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.980689287185669

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740695953369141


49

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
441,0,49,0,"[97.4, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
442,0,49,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
443,0,49,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
444,0,49,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
445,0,49,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
446,0,49,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
447,0,49,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
448,0,49,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
449,0,49,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8811])
0.8810822367668152

tensor([0.9913], grad_fn=<SigmoidBackward0>) tensor([2.4693e-06], grad_fn=<MulBackward0>)
tensor([0.9913])
0.9912869930267334

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806895852088928

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740720391273499


50

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
450,0,50,0,"[94.1, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
451,0,50,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
452,0,50,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
453,0,50,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
454,0,50,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
455,0,50,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
456,0,50,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
457,0,50,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
458,0,50,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8095])
0.8094835877418518

tensor([0.9894], grad_fn=<SigmoidBackward0>) tensor([2.9919e-06], grad_fn=<MulBackward0>)
tensor([0.9894])
0.9893847703933716

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806244373321533

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739598631858826


51

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
459,0,51,0,"[90.5, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
460,0,51,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
461,0,51,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
462,0,51,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
463,0,51,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
464,0,51,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
465,0,51,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
466,0,51,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
467,0,51,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8079])
0.8079445362091064

tensor([0.9893], grad_fn=<SigmoidBackward0>) tensor([3.0058e-06], grad_fn=<MulBackward0>)
tensor([0.9893])
0.9893250465393066

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806235432624817

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739590883255005


52

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
468,0,52,0,"[90.4, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
469,0,52,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
470,0,52,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
471,0,52,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
472,0,52,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
473,0,52,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
474,0,52,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
475,0,52,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
476,0,52,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8361])
0.8360809683799744

tensor([0.9901], grad_fn=<SigmoidBackward0>) tensor([2.8106e-06], grad_fn=<MulBackward0>)
tensor([0.9901])
0.9901065230369568

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806229472160339

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.973959743976593


53

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
477,0,53,0,"[91.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
478,0,53,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
479,0,53,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
480,0,53,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
481,0,53,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
482,0,53,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
483,0,53,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
484,0,53,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
485,0,53,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8972])
0.8972169756889343

tensor([0.9917], grad_fn=<SigmoidBackward0>) tensor([2.3474e-06], grad_fn=<MulBackward0>)
tensor([0.9917])
0.9916906952857971

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806877970695496

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740710854530334


54

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
486,0,54,0,"[94.9, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
487,0,54,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
488,0,54,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
489,0,54,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
490,0,54,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
491,0,54,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
492,0,54,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
493,0,54,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
494,0,54,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8762])
0.8761523962020874

tensor([0.9911], grad_fn=<SigmoidBackward0>) tensor([2.5166e-06], grad_fn=<MulBackward0>)
tensor([0.9911])
0.9911311864852905

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806855916976929

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740711450576782


55

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
495,0,55,0,"[93.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
496,0,55,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
497,0,55,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
498,0,55,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
499,0,55,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
500,0,55,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
501,0,55,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
502,0,55,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
503,0,55,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9378])
0.9377899169921875

tensor([0.9925], grad_fn=<SigmoidBackward0>) tensor([2.0989e-06], grad_fn=<MulBackward0>)
tensor([0.9925])
0.992484450340271

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.980688750743866

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740721583366394


56

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
504,0,56,0,"[96.9, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
505,0,56,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
506,0,56,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
507,0,56,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
508,0,56,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
509,0,56,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
510,0,56,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
511,0,56,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
512,0,56,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8354])
0.8354446291923523

tensor([0.9901], grad_fn=<SigmoidBackward0>) tensor([2.8106e-06], grad_fn=<MulBackward0>)
tensor([0.9901])
0.9901049733161926

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806246757507324

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739587306976318


57

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
513,0,57,0,"[91.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
514,0,57,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
515,0,57,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
516,0,57,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
517,0,57,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
518,0,57,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
519,0,57,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
520,0,57,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
521,0,57,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7749])
0.7749037742614746

tensor([0.9882], grad_fn=<SigmoidBackward0>) tensor([3.2524e-06], grad_fn=<MulBackward0>)
tensor([0.9882])
0.9882379770278931

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0951e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9805577993392944

tensor([0.9738], grad_fn=<SigmoidBackward0>) tensor([1.5233e-06], grad_fn=<MulBackward0>)
tensor([0.9738])
0.9738498330116272


58

               bprofit
currentBidIdx
0.0             -26.80
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.25
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
522,0,58,0,"[88.7, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
523,0,58,1,"[99.4, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.4,0.0,7.9,2,True,True,53.65,True,5.65,45.75
524,0,58,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
525,0,58,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
526,0,58,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
527,0,58,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
528,0,58,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
529,0,58,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
530,0,58,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8638], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9035])
0.9034935235977173

tensor([0.9918], grad_fn=<SigmoidBackward0>) tensor([2.3048e-06], grad_fn=<MulBackward0>)
tensor([0.9918])
0.9918283224105835

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806965589523315

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740704894065857


59

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
531,0,59,0,"[95.2, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
532,0,59,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
533,0,59,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
534,0,59,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
535,0,59,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
536,0,59,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
537,0,59,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
538,0,59,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
539,0,59,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8998])
0.8998318314552307

tensor([0.9917], grad_fn=<SigmoidBackward0>) tensor([2.3326e-06], grad_fn=<MulBackward0>)
tensor([0.9917])
0.9917367100715637

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806864261627197

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740728139877319


60

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
540,0,60,0,"[95.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
541,0,60,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
542,0,60,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
543,0,60,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
544,0,60,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
545,0,60,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
546,0,60,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
547,0,60,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
548,0,60,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8069])
0.8068693280220032

tensor([0.9893], grad_fn=<SigmoidBackward0>) tensor([3.0198e-06], grad_fn=<MulBackward0>)
tensor([0.9893])
0.9892626404762268

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.980627715587616

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739626049995422


61

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
549,0,61,0,"[90.3, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
550,0,61,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
551,0,61,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
552,0,61,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
553,0,61,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
554,0,61,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
555,0,61,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
556,0,61,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
557,0,61,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8446])
0.8446391224861145

tensor([0.9903], grad_fn=<SigmoidBackward0>) tensor([2.7553e-06], grad_fn=<MulBackward0>)
tensor([0.9903])
0.9903092384338379

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806232452392578

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739611148834229


62

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
558,0,62,0,"[92.2, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
559,0,62,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
560,0,62,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
561,0,62,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
562,0,62,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
563,0,62,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
564,0,62,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
565,0,62,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
566,0,62,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8039])
0.8038866519927979

tensor([0.9892], grad_fn=<SigmoidBackward0>) tensor([3.0338e-06], grad_fn=<MulBackward0>)
tensor([0.9892])
0.9892088770866394

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806304574012756

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739581346511841


63

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
567,0,63,0,"[90.2, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
568,0,63,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
569,0,63,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
570,0,63,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
571,0,63,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
572,0,63,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
573,0,63,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
574,0,63,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
575,0,63,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8851])
0.8850509524345398

tensor([0.9914], grad_fn=<SigmoidBackward0>) tensor([2.4382e-06], grad_fn=<MulBackward0>)
tensor([0.9914])
0.9913910031318665

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806894659996033

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740667343139648


64

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
576,0,64,0,"[94.3, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
577,0,64,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
578,0,64,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
579,0,64,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
580,0,64,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
581,0,64,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
582,0,64,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
583,0,64,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
584,0,64,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7851])
0.7850675582885742

tensor([0.9886], grad_fn=<SigmoidBackward0>) tensor([3.1631e-06], grad_fn=<MulBackward0>)
tensor([0.9886])
0.9886358380317688

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0951e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.980553388595581

tensor([0.9738], grad_fn=<SigmoidBackward0>) tensor([1.5233e-06], grad_fn=<MulBackward0>)
tensor([0.9738])
0.9738489389419556


65

               bprofit
currentBidIdx
0.0             -26.80
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.25
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
585,0,65,0,"[89.3, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
586,0,65,1,"[99.4, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.4,0.0,7.9,2,True,True,53.65,True,5.65,45.75
587,0,65,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
588,0,65,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
589,0,65,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
590,0,65,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
591,0,65,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
592,0,65,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
593,0,65,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8638], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8756])
0.8755566477775574

tensor([0.9911], grad_fn=<SigmoidBackward0>) tensor([2.5166e-06], grad_fn=<MulBackward0>)
tensor([0.9911])
0.9911373257637024

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806902408599854

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740706086158752


66

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
594,0,66,0,"[93.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
595,0,66,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
596,0,66,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
597,0,66,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
598,0,66,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
599,0,66,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
600,0,66,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
601,0,66,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
602,0,66,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8283])
0.8283076286315918

tensor([0.9899], grad_fn=<SigmoidBackward0>) tensor([2.8670e-06], grad_fn=<MulBackward0>)
tensor([0.9899])
0.9899000525474548

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806228876113892

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.973959743976593


67

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
603,0,67,0,"[91.4, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
604,0,67,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
605,0,67,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
606,0,67,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
607,0,67,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
608,0,67,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
609,0,67,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
610,0,67,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
611,0,67,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7969])
0.7968792915344238

tensor([0.9890], grad_fn=<SigmoidBackward0>) tensor([3.0906e-06], grad_fn=<MulBackward0>)
tensor([0.9890])
0.988952100276947

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0951e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.980556309223175

tensor([0.9738], grad_fn=<SigmoidBackward0>) tensor([1.5233e-06], grad_fn=<MulBackward0>)
tensor([0.9738])
0.9738478064537048


68

               bprofit
currentBidIdx
0.0             -26.80
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.25
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
612,0,68,0,"[89.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
613,0,68,1,"[99.4, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.4,0.0,7.9,2,True,True,53.65,True,5.65,45.75
614,0,68,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
615,0,68,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
616,0,68,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
617,0,68,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
618,0,68,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
619,0,68,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
620,0,68,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8638], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8868])
0.8868317604064941

tensor([0.9914], grad_fn=<SigmoidBackward0>) tensor([2.4382e-06], grad_fn=<MulBackward0>)
tensor([0.9914])
0.9913919568061829

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806882739067078

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740712642669678


69

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
621,0,69,0,"[94.3, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
622,0,69,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
623,0,69,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
624,0,69,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
625,0,69,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
626,0,69,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
627,0,69,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
628,0,69,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
629,0,69,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8806])
0.8806096315383911

tensor([0.9912], grad_fn=<SigmoidBackward0>) tensor([2.4850e-06], grad_fn=<MulBackward0>)
tensor([0.9912])
0.9912393689155579

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806951880455017

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740734696388245


70

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
630,0,70,0,"[94.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
631,0,70,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
632,0,70,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
633,0,70,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
634,0,70,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
635,0,70,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
636,0,70,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
637,0,70,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
638,0,70,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8726])
0.8725948929786682

tensor([0.9910], grad_fn=<SigmoidBackward0>) tensor([2.5487e-06], grad_fn=<MulBackward0>)
tensor([0.9910])
0.9910268187522888

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806936979293823

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740736484527588


71

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
639,0,71,0,"[93.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
640,0,71,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
641,0,71,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
642,0,71,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
643,0,71,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
644,0,71,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
645,0,71,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
646,0,71,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
647,0,71,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8837])
0.8837330341339111

tensor([0.9913], grad_fn=<SigmoidBackward0>) tensor([2.4537e-06], grad_fn=<MulBackward0>)
tensor([0.9913])
0.9913433194160461

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806934595108032

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740715026855469


72

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
648,0,72,0,"[94.2, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
649,0,72,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
650,0,72,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
651,0,72,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
652,0,72,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
653,0,72,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
654,0,72,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
655,0,72,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
656,0,72,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8618])
0.8618406653404236

tensor([0.9908], grad_fn=<SigmoidBackward0>) tensor([2.6306e-06], grad_fn=<MulBackward0>)
tensor([0.9908])
0.9907626509666443

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806233644485474

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739599227905273


73

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
657,0,73,0,"[93.1, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
658,0,73,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
659,0,73,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
660,0,73,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
661,0,73,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
662,0,73,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
663,0,73,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
664,0,73,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
665,0,73,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8528])
0.8528090715408325

tensor([0.9905], grad_fn=<SigmoidBackward0>) tensor([2.7011e-06], grad_fn=<MulBackward0>)
tensor([0.9905])
0.990511953830719

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806280732154846

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739630818367004


74

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
666,0,74,0,"[92.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
667,0,74,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
668,0,74,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
669,0,74,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
670,0,74,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
671,0,74,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
672,0,74,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
673,0,74,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
674,0,74,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8726])
0.8726075291633606

tensor([0.9910], grad_fn=<SigmoidBackward0>) tensor([2.5487e-06], grad_fn=<MulBackward0>)
tensor([0.9910])
0.9910345077514648

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806963801383972

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740709066390991


75

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
675,0,75,0,"[93.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
676,0,75,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
677,0,75,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
678,0,75,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
679,0,75,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
680,0,75,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
681,0,75,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
682,0,75,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
683,0,75,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8556])
0.8556420207023621

tensor([0.9906], grad_fn=<SigmoidBackward0>) tensor([2.6744e-06], grad_fn=<MulBackward0>)
tensor([0.9906])
0.9906120896339417

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.980625331401825

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739603400230408


76

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
684,0,76,0,"[92.8, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
685,0,76,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
686,0,76,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
687,0,76,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
688,0,76,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
689,0,76,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
690,0,76,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
691,0,76,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
692,0,76,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8514])
0.8514339923858643

tensor([0.9905], grad_fn=<SigmoidBackward0>) tensor([2.7011e-06], grad_fn=<MulBackward0>)
tensor([0.9905])
0.9905079007148743

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806269407272339

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739601612091064


77

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
693,0,77,0,"[92.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
694,0,77,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
695,0,77,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
696,0,77,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
697,0,77,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
698,0,77,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
699,0,77,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
700,0,77,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
701,0,77,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9524])
0.9523680210113525

tensor([0.9927], grad_fn=<SigmoidBackward0>) tensor([2.0195e-06], grad_fn=<MulBackward0>)
tensor([0.9927])
0.9927377104759216

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806910157203674

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740732908248901


78

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
702,0,78,0,"[97.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
703,0,78,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
704,0,78,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
705,0,78,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
706,0,78,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
707,0,78,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
708,0,78,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
709,0,78,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
710,0,78,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7993])
0.7993119955062866

tensor([0.9891], grad_fn=<SigmoidBackward0>) tensor([3.0621e-06], grad_fn=<MulBackward0>)
tensor([0.9891])
0.9890732169151306

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806276559829712

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739614129066467


79

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
711,0,79,0,"[90.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
712,0,79,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
713,0,79,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
714,0,79,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
715,0,79,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
716,0,79,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
717,0,79,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
718,0,79,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
719,0,79,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8522])
0.8522456288337708

tensor([0.9905], grad_fn=<SigmoidBackward0>) tensor([2.7011e-06], grad_fn=<MulBackward0>)
tensor([0.9905])
0.9905131459236145

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806281924247742

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739601016044617


80

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
720,0,80,0,"[92.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
721,0,80,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
722,0,80,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
723,0,80,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
724,0,80,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
725,0,80,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
726,0,80,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
727,0,80,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
728,0,80,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7744])
0.7743591070175171

tensor([0.9882], grad_fn=<SigmoidBackward0>) tensor([3.2524e-06], grad_fn=<MulBackward0>)
tensor([0.9882])
0.9882391691207886

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0951e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.980559766292572

tensor([0.9738], grad_fn=<SigmoidBackward0>) tensor([1.5233e-06], grad_fn=<MulBackward0>)
tensor([0.9739])
0.9738515019416809


81

               bprofit
currentBidIdx
0.0             -26.80
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.25
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
729,0,81,0,"[88.7, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
730,0,81,1,"[99.4, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.4,0.0,7.9,2,True,True,53.65,True,5.65,45.75
731,0,81,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
732,0,81,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
733,0,81,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
734,0,81,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
735,0,81,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
736,0,81,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
737,0,81,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8638], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9285])
0.9284926652908325

tensor([0.9923], grad_fn=<SigmoidBackward0>) tensor([2.1574e-06], grad_fn=<MulBackward0>)
tensor([0.9923])
0.9922975897789001

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806864857673645

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740702509880066


82

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
738,0,82,0,"[96.4, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
739,0,82,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
740,0,82,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
741,0,82,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
742,0,82,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
743,0,82,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
744,0,82,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
745,0,82,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
746,0,82,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9503])
0.9503326416015625

tensor([0.9927], grad_fn=<SigmoidBackward0>) tensor([2.0307e-06], grad_fn=<MulBackward0>)
tensor([0.9927])
0.9927053451538086

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806904792785645

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740700125694275


83

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
747,0,83,0,"[97.5, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
748,0,83,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
749,0,83,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
750,0,83,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
751,0,83,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
752,0,83,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
753,0,83,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
754,0,83,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
755,0,83,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8582])
0.8582456111907959

tensor([0.9907], grad_fn=<SigmoidBackward0>) tensor([2.6611e-06], grad_fn=<MulBackward0>)
tensor([0.9907])
0.9906648397445679

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806289076805115

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739603400230408


84

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
756,0,84,0,"[92.9, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
757,0,84,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
758,0,84,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
759,0,84,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
760,0,84,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
761,0,84,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
762,0,84,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
763,0,84,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
764,0,84,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8615])
0.861531674861908

tensor([0.9908], grad_fn=<SigmoidBackward0>) tensor([2.6306e-06], grad_fn=<MulBackward0>)
tensor([0.9908])
0.9907665848731995

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806298613548279

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739598631858826


85

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
765,0,85,0,"[93.1, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
766,0,85,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
767,0,85,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
768,0,85,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
769,0,85,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
770,0,85,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
771,0,85,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
772,0,85,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
773,0,85,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8867])
0.8866522312164307

tensor([0.9914], grad_fn=<SigmoidBackward0>) tensor([2.4382e-06], grad_fn=<MulBackward0>)
tensor([0.9914])
0.9913901090621948

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806930422782898

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740698933601379


86

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
774,0,86,0,"[94.3, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
775,0,86,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
776,0,86,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
777,0,86,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
778,0,86,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
779,0,86,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
780,0,86,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
781,0,86,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
782,0,86,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8600])
0.8600054979324341

tensor([0.9907], grad_fn=<SigmoidBackward0>) tensor([2.6473e-06], grad_fn=<MulBackward0>)
tensor([0.9907])
0.9907116293907166

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.980623722076416

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739609360694885


87

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
783,0,87,0,"[93.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
784,0,87,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
785,0,87,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
786,0,87,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
787,0,87,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
788,0,87,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
789,0,87,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
790,0,87,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
791,0,87,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8721])
0.8720721006393433

tensor([0.9910], grad_fn=<SigmoidBackward0>) tensor([2.5487e-06], grad_fn=<MulBackward0>)
tensor([0.9910])
0.9910311698913574

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806960225105286

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740713834762573


88

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
792,0,88,0,"[93.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
793,0,88,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
794,0,88,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
795,0,88,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
796,0,88,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
797,0,88,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
798,0,88,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
799,0,88,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
800,0,88,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8728])
0.8728457689285278

tensor([0.9910], grad_fn=<SigmoidBackward0>) tensor([2.5487e-06], grad_fn=<MulBackward0>)
tensor([0.9910])
0.9910341501235962

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806886315345764

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740715026855469


89

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
801,0,89,0,"[93.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
802,0,89,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
803,0,89,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
804,0,89,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
805,0,89,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
806,0,89,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
807,0,89,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
808,0,89,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
809,0,89,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8911])
0.8911471366882324

tensor([0.9915], grad_fn=<SigmoidBackward0>) tensor([2.3924e-06], grad_fn=<MulBackward0>)
tensor([0.9915])
0.9915387630462646

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806854128837585

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740691781044006


90

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
810,0,90,0,"[94.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
811,0,90,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
812,0,90,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
813,0,90,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
814,0,90,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
815,0,90,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
816,0,90,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
817,0,90,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
818,0,90,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.9337])
0.9336868524551392

tensor([0.9924], grad_fn=<SigmoidBackward0>) tensor([2.1221e-06], grad_fn=<MulBackward0>)
tensor([0.9924])
0.9924116134643555

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806888699531555

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740724563598633


91

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
819,0,91,0,"[96.7, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
820,0,91,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
821,0,91,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
822,0,91,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
823,0,91,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
824,0,91,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
825,0,91,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
826,0,91,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
827,0,91,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8036])
0.8035644888877869

tensor([0.9892], grad_fn=<SigmoidBackward0>) tensor([3.0338e-06], grad_fn=<MulBackward0>)
tensor([0.9892])
0.9892016053199768

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806220531463623

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739572405815125


92

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
828,0,92,0,"[90.2, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
829,0,92,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
830,0,92,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
831,0,92,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
832,0,92,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
833,0,92,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
834,0,92,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
835,0,92,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
836,0,92,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8440])
0.8440465331077576

tensor([0.9903], grad_fn=<SigmoidBackward0>) tensor([2.7553e-06], grad_fn=<MulBackward0>)
tensor([0.9903])
0.9903099536895752

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806215167045593

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739606380462646


93

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
837,0,93,0,"[92.2, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
838,0,93,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
839,0,93,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
840,0,93,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
841,0,93,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
842,0,93,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
843,0,93,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
844,0,93,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
845,0,93,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8788])
0.8788318634033203

tensor([0.9912], grad_fn=<SigmoidBackward0>) tensor([2.5007e-06], grad_fn=<MulBackward0>)
tensor([0.9912])
0.9911872744560242

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.980696976184845

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740718007087708


94

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
846,0,94,0,"[93.9, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
847,0,94,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
848,0,94,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
849,0,94,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
850,0,94,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
851,0,94,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
852,0,94,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
853,0,94,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
854,0,94,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7915])
0.7914705872535706

tensor([0.9888], grad_fn=<SigmoidBackward0>) tensor([3.1194e-06], grad_fn=<MulBackward0>)
tensor([0.9888])
0.9888272881507874

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0951e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9805588126182556

tensor([0.9738], grad_fn=<SigmoidBackward0>) tensor([1.5233e-06], grad_fn=<MulBackward0>)
tensor([0.9738])
0.9738497734069824


95

               bprofit
currentBidIdx
0.0             -26.80
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.25
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
855,0,95,0,"[89.6, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
856,0,95,1,"[99.4, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.4,0.0,7.9,2,True,True,53.65,True,5.65,45.75
857,0,95,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
858,0,95,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
859,0,95,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
860,0,95,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
861,0,95,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
862,0,95,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
863,0,95,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8638], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8583])
0.8582518696784973

tensor([0.9907], grad_fn=<SigmoidBackward0>) tensor([2.6611e-06], grad_fn=<MulBackward0>)
tensor([0.9907])
0.9906592965126038

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806233644485474

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739595055580139


96

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
864,0,96,0,"[92.9, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
865,0,96,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
866,0,96,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
867,0,96,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
868,0,96,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
869,0,96,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
870,0,96,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
871,0,96,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
872,0,96,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8597])
0.8596795797348022

tensor([0.9907], grad_fn=<SigmoidBackward0>) tensor([2.6473e-06], grad_fn=<MulBackward0>)
tensor([0.9907])
0.9907070994377136

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0521e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.9806258678436279

tensor([0.9740], grad_fn=<SigmoidBackward0>) tensor([1.5274e-06], grad_fn=<MulBackward0>)
tensor([0.9740])
0.9739630222320557


97

               bprofit
currentBidIdx
0.0             -26.85
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.30
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
873,0,97,0,"[93.0, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
874,0,97,1,"[99.5, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.5,0.0,7.9,2,True,True,53.70,True,5.60,45.80
875,0,97,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
876,0,97,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
877,0,97,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
878,0,97,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
879,0,97,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
880,0,97,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
881,0,97,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8644], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.8906])
0.8906470537185669

tensor([0.9915], grad_fn=<SigmoidBackward0>) tensor([2.4076e-06], grad_fn=<MulBackward0>)
tensor([0.9915])
0.991489052772522

tensor([0.9807], grad_fn=<SigmoidBackward0>) tensor([3.0098e-06], grad_fn=<MulBackward0>)
tensor([0.9807])
0.9806900024414062

tensor([0.9741], grad_fn=<SigmoidBackward0>) tensor([1.5316e-06], grad_fn=<MulBackward0>)
tensor([0.9741])
0.9740707874298096


98

               bprofit
currentBidIdx
0.0             -26.90
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.35
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
882,0,98,0,"[94.5, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
883,0,98,1,"[99.6, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.6,0.0,7.9,2,True,True,53.75,True,5.55,45.85
884,0,98,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
885,0,98,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
886,0,98,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
887,0,98,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
888,0,98,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
889,0,98,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
890,0,98,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

tensor([0.8650], grad_fn=<SigmoidBackward0>) tensor([0.0503], grad_fn=<MulBackward0>)
tensor([0.7930])
0.7930301427841187

tensor([0.9889], grad_fn=<SigmoidBackward0>) tensor([3.1050e-06], grad_fn=<MulBackward0>)
tensor([0.9889])
0.9888903498649597

tensor([0.9806], grad_fn=<SigmoidBackward0>) tensor([3.0951e-06], grad_fn=<MulBackward0>)
tensor([0.9806])
0.980560302734375

tensor([0.9738], grad_fn=<SigmoidBackward0>) tensor([1.5233e-06], grad_fn=<MulBackward0>)
tensor([0.9739])
0.9738514423370361


99

               bprofit
currentBidIdx
0.0             -26.80
1.0              95.75

               sprofit
currentAskIdx
0                19.25
1                26.50
2                91.25
4                89.85

,rnd,period,step,bids,asks,currentBid,currentBidIdx,currentAsk,currentAskIdx,buy,sell,price,sale,bprofit,sprofit
891,0,99,0,"[89.7, 100.0]","[23.3, 19.9, 7.9, 34.4, 0.0, 49.0]",100.0,1.0,0.0,4,True,True,50.00,True,50.00,50.00
892,0,99,1,"[99.4, 72.9]","[23.3, 19.9, 7.9, 34.4, 19.0, 49.0]",99.4,0.0,7.9,2,True,True,53.65,True,5.65,45.75
893,0,99,2,"[99.0, 72.9]","[23.3, 19.9, 8.0, 34.4, 19.0, 49.0]",99.0,0.0,8.0,2,True,True,53.50,True,-9.70,45.50
894,0,99,3,"[98.7, 72.9]","[23.3, 19.9, 58.8, 34.4, 19.0, 49.0]",98.7,0.0,19.0,4,True,True,58.85,True,-22.75,39.85
895,0,99,4,"[nan, 72.9]","[23.3, 19.9, 58.8, 34.4, 56.2, 49.0]",72.9,1.0,19.9,1,True,True,46.40,True,26.50,26.50
896,0,99,5,"[nan, 61.8]","[23.3, 28.1, 58.8, 34.4, 56.2, 49.0]",61.8,1.0,23.3,0,True,True,42.55,True,19.25,19.25
897,0,99,6,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
898,0,99,7,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00
899,0,99,8,"[nan, nan]","[41.1, 28.1, 58.8, 34.4, 56.2, 49.0]",NaN,NaN,28.1,1,NaN,NaN,NaN,False,0.00,0.00

In [33]:
class PPO(Trader):
    def __init__(self, gameData, disclosure, index, buyer, type):
        super().__init__(gameData, disclosure, index, buyer, type)
        self.learningRate = 0.0002
        self.gamma = 0.99
        self.numActions = 100
        self.depth = 1
        self.numStates = 8 + 6 * self.depth
        agentState = [0, -1, -1, -1, -1, -1, -1, -1]
        history = [-1, -1, -1, -1, -1, -1] * self.depth
        self.state = np.nan_to_num(np.array(agentState + history, dtype = np.float32), nan=-9)
        self.model = PPOModel(self.numStates)
        self.rollout = []
        self.done = False

    def observe(self):
        agentState = [self.periodStep, self.stepTokenValue, self.stepBid, self.stepAsk, self.stepTrades, self.stepProfits, self.periodTrades, self.periodProfits]
        history = self.df.iloc[-self.depth:][['currentBid', 'currentAsk', 'buy', 'sell', 'price', 'price']].values.reshape(-1,).tolist()
        if len(history) != (6 * self.depth):
            history = [-1] * (6 * self.depth)
        self.newState = np.nan_to_num(np.array(agentState + history, dtype = np.float32), nan=-9)
        if self.periodStep == self.numSteps:
            self.done = True
        self.rollout.append((self.state, self.action, self.stepProfits/100.0, self.newState, self.log_prob.item(), self.done))
        self.state = self.newState
        if self.periodStep == self.numSteps:
            self.model.put_data(self.rollout)
            self.rollout = []  
        
    def bid(self):
        self.stepBid = np.nan
        if self.stepTokenValue > 0:
            mu, std = self.model.pi(torch.from_numpy(self.state).float())
            print(mu, std)
            dist = Normal(mu, std)
            self.action = dist.sample()
            print(self.action)
            self.log_prob = dist.log_prob(self.action)
            self.action = np.clip(self.action, -1, 1)
            print(self.action.item(), '\n')
            frac = (self.action.item()+1)/2
            self.stepBid = np.round(frac * 100,1)
        return self.stepBid
        
    def ask(self):
        self.stepAsk = np.nan
        if self.stepTokenValue > 0:
            self.mu, self.std = self.model.pi(torch.from_numpy(self.state).float())
            dist = Normal(self.mu, self.std)
            self.action = dist.sample()
            self.log_prob = dist.log_prob(self.action)
            frac = self.action.item()
            self.stepAsk = np.round(frac * 100,1)
        return self.stepAsk

def updatePolicy(buyers, sellers):
    for buyer in buyers:
        if buyer.type == 2:
            buyer.model.train_net()
    for seller in sellers:
        if seller.type == 2:
            seller.model.train_net()

def updateStates(buyers, sellers):
    for buyer in buyers:
        if buyer.type == 2:
            buyer.observe()
    for seller in sellers:
        if seller.type == 2:
            seller.observe()

In [39]:
import gym
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.distributions import Normal
from torch.distributions import Beta

learning_rate  = 0.0003
gamma          = 0.9
lmbda          = 0.9
eps_clip       = 0.2
K_epoch        = 10
rollout_len    = 3
buffer_size    = 10
minibatch_size = 32

class PPOModel(nn.Module):
    def __init__(self, numStates):
        super(PPOModel, self).__init__()
        self.numStates = numStates
        self.data = []
        self.fc1   = nn.Linear(self.numStates,128)
        self.fc_mu = nn.Linear(128,1)
        self.fc_std  = nn.Linear(128,1)
        self.fc_v = nn.Linear(128,1)
        self.optimizer = optim.Adam(self.parameters(), lr=learning_rate)
        self.optimization_step = 0

    def pi(self, x, softmax_dim = 0):
        x = F.relu(self.fc1(x))
        mu = torch.sigmoid(self.fc_mu(x))
        std = 0.4*F.sigmoid(self.fc_std(x))
        return mu, std
    
    def v(self, x):
        x = F.relu(self.fc1(x))
        v = self.fc_v(x)
        return v
      
    def put_data(self, transition):
        self.data.append(transition)
        
    def make_batch(self):
        s_batch, a_batch, r_batch, s_prime_batch, prob_a_batch, done_batch = [], [], [], [], [], []
        data = []
        for j in range(buffer_size):
            for i in range(minibatch_size):
                rollout = self.data.pop()
                s_lst, a_lst, r_lst, s_prime_lst, prob_a_lst, done_lst = [], [], [], [], [], []
                for transition in rollout:
                    s, a, r, s_prime, prob_a, done = transition      
                    s_lst.append(s)
                    a_lst.append([a])
                    r_lst.append([r])
                    s_prime_lst.append(s_prime)
                    prob_a_lst.append([prob_a])
                    done_mask = 0 if done else 1
                    done_lst.append([done_mask])
                s_batch.append(s_lst)
                a_batch.append(a_lst)
                r_batch.append(r_lst)
                s_prime_batch.append(s_prime_lst)
                prob_a_batch.append(prob_a_lst)
                done_batch.append(done_lst)
            mini_batch = torch.tensor(s_batch, dtype=torch.float), torch.tensor(a_batch, dtype=torch.float), \
                          torch.tensor(r_batch, dtype=torch.float), torch.tensor(s_prime_batch, dtype=torch.float), \
                          torch.tensor(done_batch, dtype=torch.float), torch.tensor(prob_a_batch, dtype=torch.float)
            data.append(mini_batch)
        return data

    def calc_advantage(self, data):
        data_with_adv = []
        for mini_batch in data:
            s, a, r, s_prime, done_mask, old_log_prob = mini_batch
            with torch.no_grad():
                td_target = r + gamma * self.v(s_prime) * done_mask
                delta = td_target - self.v(s)
            delta = delta.numpy()
            advantage_lst = []
            advantage = 0.0
            for delta_t in delta[::-1]:
                advantage = gamma * lmbda * advantage + delta_t[0]
                advantage_lst.append([advantage])
            advantage_lst.reverse()
            advantage = torch.tensor(advantage_lst, dtype=torch.float)
            data_with_adv.append((s, a, r, s_prime, done_mask, old_log_prob, td_target, advantage))
        return data_with_adv

    def train_net(self):
        if len(self.data) == minibatch_size * buffer_size:
            data = self.make_batch()
            data = self.calc_advantage(data)
            for i in range(K_epoch):
                for mini_batch in data:
                    s, a, r, s_prime, done_mask, old_log_prob, td_target, advantage = mini_batch
                    mu, std = self.pi(s, softmax_dim=1)
                    dist = Normal(mu, std)
                    log_prob = dist.log_prob(a)
                    ratio = torch.exp(log_prob - old_log_prob)  # a/b == exp(log(a)-log(b))
                    surr1 = ratio * advantage
                    surr2 = torch.clamp(ratio, 1-eps_clip, 1+eps_clip) * advantage
                    loss = -torch.min(surr1, surr2) + F.smooth_l1_loss(self.v(s) , td_target)
                    self.optimizer.zero_grad()
                    loss.mean().backward()
                    nn.utils.clip_grad_norm_(self.parameters(), 1.0)
                    self.optimizer.step()
                    self.optimization_step += 1

In [14]:
def generateAgents(gameData,buyerStrategies,sellerStrategies,disclosure):
    buyers, sellers = [], []
    for idx,i in enumerate(buyerStrategies):
        if i == 'TruthTeller':
            buyers.append(TruthTeller(gameData, disclosure, index=idx, buyer=0, type=0)) 
        if i == 'ZeroIntelligence':
            buyers.append(ZeroIntelligence(gameData, disclosure, index=idx, buyer=0, type=1)) 
        if i == 'REINFORCE':
            buyers.append(REINFORCE(gameData, disclosure, index=idx, buyer=0, type=2)) 
        if i == 'PPO':
            buyers.append(PPO(gameData, disclosure, index=idx, buyer=0, type=2)) 
        if i == 'SAC':
            buyers.append(SAC(gameData, disclosure, index=idx, buyer=0, type=2)) 
        if i == 'DQN':
            buyers.append(DQN(gameData, disclosure, index=idx, buyer=0, type=2)) 

    for idx,i in enumerate(sellerStrategies):
        if i == 'TruthTeller':
            sellers.append(TruthTeller(gameData, disclosure, index=idx, buyer=1, type=0)) 
        if i == 'ZeroIntelligence':
            sellers.append(ZeroIntelligence(gameData, disclosure, index=idx, buyer=1, type=1)) 
        if i == 'REINFORCE':
            sellers.append(REINFORCE(gameData, disclosure, index=idx, buyer=1, type=2)) 
        if i == 'PPO':
            sellers.append(PPO(gameData, disclosure, index=idx, buyer=1, type=2)) 
        if i == 'SAC':
            sellers.append(SAC(gameData, disclosure, index=idx, buyer=1, type=2)) 
        if i == 'DQN':
            sellers.append(DQN(gameData, disclosure, index=idx, buyer=1, type=2)) 
    return buyers, sellers